In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_json(r'/home/imdad/Downloads/loan_data.json')

In [3]:
df

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y
...,...,...,...,...,...,...,...,...,...,...
506,LP002978,Female,No,0,Graduate,No,1,Rural,low,Y
507,LP002979,Male,Yes,3+,Graduate,No,1,Rural,medium,Y
508,LP002983,Male,Yes,1,Graduate,No,1,Urban,medium,Y
509,LP002984,Male,Yes,2,Graduate,No,1,Urban,medium,Y
510,LP002990,Female,No,0,Graduate,Yes,0,Semiurban,medium,N

In [4]:

u=df.groupby('Dependents')

In [5]:
df["Application_ID"].notnull().count()

511

In [6]:
u.count()

,Application_ID,Gender,Married,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
Dependents,,,,,,,,,
0,294,294,294,294,294,294,294,294,294
1,85,85,85,85,85,85,85,85,85
2,88,88,88,88,88,88,88,88,88
3+,44,44,44,44,44,44,44,44,44

In [7]:
v=u['Application_ID'].count()

In [8]:
v

Dependents
0     294
1      85
2      88
3+     44
Name: Application_ID, dtype: int64

In [9]:
w=pd.DataFrame({'% of Applicants':(v/df["Application_ID"].count())*100})

In [10]:
w.reset_index(inplace=True)

In [11]:
#Answer to Question 1
w

  Dependents  % of Applicants
0          0        57.534247
1          1        16.634051
2          2        17.221135
3         3+         8.610568

In [12]:
#Answer to 2
df

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y
...,...,...,...,...,...,...,...,...,...,...
506,LP002978,Female,No,0,Graduate,No,1,Rural,low,Y
507,LP002979,Male,Yes,3+,Graduate,No,1,Rural,medium,Y
508,LP002983,Male,Yes,1,Graduate,No,1,Urban,medium,Y
509,LP002984,Male,Yes,2,Graduate,No,1,Urban,medium,Y
510,LP002990,Female,No,0,Graduate,Yes,0,Semiurban,medium,N

In [13]:
#No of applicants approved among the self employed applicants
df[(df["Self_Employed"]=="Yes") & (df["Application_Status"]=="Y")]["Application_Status"].count()

46

In [14]:
# total No of self employed applicants

df[df["Self_Employed"]=="Yes"]["Application_ID"].count()

70

In [15]:
# % of approved applicants from the self employed applicants

100*df[(df["Self_Employed"]=="Yes") & (df["Application_Status"]=="Y")]["Application_Status"].count()/df[df["Self_Employed"]=="Yes"]["Application_ID"].count()

65.71428571428571

In [16]:
 # % of approved applicants who are self employed from total no of applicants
    
100*df[(df["Self_Employed"]=="Yes") & (df["Application_Status"]=="Y")]["Application_Status"].count()/df["Application_ID"].count()

9.001956947162427

In [17]:
# Answer to question 3

#No of married male applicants

df[(df["Married"]=="Yes") & (df["Gender"]=="Male")]["Application_ID"].count()

306

In [18]:
# No of rejected married male applicants

df[(df["Married"]=="Yes") & (df["Gender"]=="Male") & (df["Application_Status"]=="N")]["Application_ID"].count()

87

In [19]:
# Answer to question 3
# % of rejections for married male applicants


100*df[(df["Married"]=="Yes") & (df["Gender"]=="Male") & (df["Application_Status"]=="N")]["Application_ID"].count()/df[(df["Married"]=="Yes") & (df["Gender"]=="Male")]["Application_ID"].count()

28.431372549019606

In [20]:
# Answer to question 4


def xyz(pt) :
    c1=df[(df["Property_Area"]==pt) & (df["Application_Status"]=="Y")]["Application_ID"].count()
    c2=df[df["Property_Area"]==pt]["Application_ID"].count()
    return c1/c2

In [21]:
# Approval Ratio of Urban Property Area
xyz("Urban")

0.6303030303030303

In [22]:
# Approval Ratio of Rural Property Area
xyz("Rural")

0.6040268456375839

In [23]:
# Answer to question 4

if(xyz("Urban")>xyz("Rural")) :
     print("Urban Area has more approval ratio")
else:
     print("Rural Area has more approval ratio")

Urban Area has more approval ratio

In [24]:
#Average number of dependents per income group

df.groupby("Income").mean()

        Credit_History
Income
high          0.844444
low           0.835165
medium        0.854922

In [25]:
type(df.iloc[0]["Dependents"])

str

In [26]:
def abc(x):
    if(x=='0'):
        return 0
    elif(x=='1'):
        return 1
    elif(x=='2'):
        return 2
    else:
        return 4
    
    
df["Average_Number_of_Dependents"]=df["Dependents"].apply(abc)

In [27]:
df[["Average_Number_of_Dependents","Dependents"]]

     Average_Number_of_Dependents Dependents
0                               0          0
1                               1          1
2                               0          0
3                               0          0
4                               0          0
..                            ...        ...
506                             0          0
507                             4         3+
508                             1          1
509                             2          2
510                             0          0

[511 rows x 2 columns]

In [28]:
#Answer to question 5
df.groupby("Income").mean()

        Credit_History  Average_Number_of_Dependents
Income
high          0.844444                      1.000000
low           0.835165                      0.703297
medium        0.854922                      1.036269

In [29]:
#Answer to question 6



df3=pd.DataFrame(df.groupby(["Property_Area","Married"])["Application_ID"].count())

In [30]:
df3

                       Application_ID
Property_Area Married
Rural         No                   56
              Yes                  93
Semiurban     No                   68
              Yes                 129
Urban         No                   56
              Yes                 109

In [31]:
df3.drop("Semiurban", inplace=True)

In [32]:
df3

                       Application_ID
Property_Area Married
Rural         No                   56
              Yes                  93
Urban         No                   56
              Yes                 109

In [33]:
df3.reset_index(inplace=True)
df3

  Property_Area Married  Application_ID
0         Rural      No              56
1         Rural     Yes              93
2         Urban      No              56
3         Urban     Yes             109

In [34]:
df4=pd.DataFrame(df.groupby(["Property_Area","Married","Application_Status"])["Application_ID"].count())

In [35]:
df4

                                          Application_ID
Property_Area Married Application_Status
Rural         No      N                               22
                      Y                               34
              Yes     N                               37
                      Y                               56
Semiurban     No      N                               21
                      Y                               47
              Yes     N                               23
                      Y                              106
Urban         No      N                               26
                      Y                               30
              Yes     N                               35
                      Y                               74

In [36]:
df4.drop(["Semiurban"],inplace=True)

In [37]:
df4

                                          Application_ID
Property_Area Married Application_Status
Rural         No      N                               22
                      Y                               34
              Yes     N                               37
                      Y                               56
Urban         No      N                               26
                      Y                               30
              Yes     N                               35
                      Y                               74

In [38]:
df4.reset_index(inplace=True)
df4

  Property_Area Married Application_Status  Application_ID
0         Rural      No                  N              22
1         Rural      No                  Y              34
2         Rural     Yes                  N              37
3         Rural     Yes                  Y              56
4         Urban      No                  N              26
5         Urban      No                  Y              30
6         Urban     Yes                  N              35
7         Urban     Yes                  Y              74

In [39]:
ind=df4[df4["Application_Status"]=="N"].index
df4.drop(ind,inplace=True)

In [40]:
df4.reset_index(inplace=True)

In [41]:
df4.drop("index",axis=1,inplace=True)

In [42]:
df4

  Property_Area Married Application_Status  Application_ID
0         Rural      No                  Y              34
1         Rural     Yes                  Y              56
2         Urban      No                  Y              30
3         Urban     Yes                  Y              74

In [43]:
#df3.drop("index",axis=1,inplace=True)
df3

  Property_Area Married  Application_ID
0         Rural      No              56
1         Rural     Yes              93
2         Urban      No              56
3         Urban     Yes             109

In [44]:
df3["Approval ratio"]= df4["Application_ID"]/df3["Application_ID"]

In [45]:
df3

  Property_Area Married  Application_ID  Approval ratio
0         Rural      No              56        0.607143
1         Rural     Yes              93        0.602151
2         Urban      No              56        0.535714
3         Urban     Yes             109        0.678899

In [46]:
df3.rename(columns={"Married":"Marital Status","Application_ID":"# of applicants"},inplace=True)
df3

  Property_Area Marital Status  # of applicants  Approval ratio
0         Rural             No               56        0.607143
1         Rural            Yes               93        0.602151
2         Urban             No               56        0.535714
3         Urban            Yes              109        0.678899

In [47]:
df3["Marital Status"]=df3["Marital Status"].apply(lambda x:"Married" if x=="Yes" else "Unmarried")

In [48]:
df3

  Property_Area Marital Status  # of applicants  Approval ratio
0         Rural      Unmarried               56        0.607143
1         Rural        Married               93        0.602151
2         Urban      Unmarried               56        0.535714
3         Urban        Married              109        0.678899

In [49]:
df3.sort_values(by=["Property_Area","Marital Status"],inplace=True)

In [50]:
#Answer of question 6
df3

  Property_Area Marital Status  # of applicants  Approval ratio
1         Rural        Married               93        0.602151
0         Rural      Unmarried               56        0.607143
3         Urban        Married              109        0.678899
2         Urban      Unmarried               56        0.535714

In [51]:
# Answer to question 7

# we can build a decision tree classifier as most of the columns are categorical data

df

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status,Average_Number_of_Dependents
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y,0
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N,1
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y,0
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y,0
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y,0
...,...,...,...,...,...,...,...,...,...,...,...
506,LP002978,Female,No,0,Graduate,No,1,Rural,low,Y,0
507,LP002979,Male,Yes,3+,Graduate,No,1,Rural,medium,Y,4
508,LP002983,Male,Yes,1,Graduate,No,1,Urban,medium,Y,1
509,LP002984,Male,Yes,2,Graduate,No,1,Urban,medium,Y,2
510,LP002990,Female,No,0,Graduate,Yes,0,Semiurban,medium,N,0

In [52]:
df.dtypes

Application_ID                  object
Gender                          object
Married                         object
Dependents                      object
Education                       object
Self_Employed                   object
Credit_History                   int64
Property_Area                   object
Income                          object
Application_Status              object
Average_Number_of_Dependents     int64
dtype: object

In [53]:
prd_df=df.drop("Average_Number_of_Dependents",axis=1)

In [54]:
prd_df

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y
...,...,...,...,...,...,...,...,...,...,...
506,LP002978,Female,No,0,Graduate,No,1,Rural,low,Y
507,LP002979,Male,Yes,3+,Graduate,No,1,Rural,medium,Y
508,LP002983,Male,Yes,1,Graduate,No,1,Urban,medium,Y
509,LP002984,Male,Yes,2,Graduate,No,1,Urban,medium,Y
510,LP002990,Female,No,0,Graduate,Yes,0,Semiurban,medium,N

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [56]:
x=df[["Gender","Married","Average_Number_of_Dependents","Self_Employed","Credit_History","Property_Area","Income","Education"]]

In [57]:
x["Gender"]=x["Gender"].apply(lambda g:0 if g=="Male" else 1)
x["Married"]=x["Married"].apply(lambda g:0 if g=="No" else 1)
x["Self_Employed"]=x["Self_Employed"].apply(lambda g:0 if g=="No" else 1)
x["Income"]=x["Income"].apply(lambda g:1 if g=="high" else 0)
x["Property_Area"]=x["Property_Area"].apply(lambda g:0 if g=="Rural" else 1)
x["Education"]=x["Education"].apply(lambda g:1 if g=="Graduate" else 0)

/tmp/ipykernel_58667/190101583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["Gender"]=x["Gender"].apply(lambda g:0 if g=="Male" else 1)
/tmp/ipykernel_58667/190101583.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["Married"]=x["Married"].apply(lambda g:0 if g=="No" else 1)
/tmp/ipykernel_58667/190101583.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["Self_Employed"]=x["Self_Employed"].apply(lambda g:0 if g=="No" else 1)
/tmp/ipykernel_58667/190101583.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["Income"]=x["Income"].apply(lambda g:1 if g=="high" else 0)
/tmp/ipykernel_58667/190101583.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["Property_Area"]=x["Property_Area"].apply(lambda g:0 if g=="Rural" else 1)
/tmp/ipykernel_58667/190101583.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["Education"]=x["Education"].apply(lambda g:1 if g=="Graduate" else 0)

In [58]:
y=prd_df["Application_Status"].apply(lambda g:0 if g=="N" else 1)
#y["Application_Status"]=y["Application_Status"]

In [59]:
y

0      1
1      0
2      1
3      1
4      1
      ..
506    1
507    1
508    1
509    1
510    0
Name: Application_Status, Length: 511, dtype: int64

In [60]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=32)

In [61]:
pred_model=DecisionTreeClassifier()

In [62]:
pred_model.fit(x_train,y_train)

DecisionTreeClassifier()

In [63]:
y_predict=pred_model.predict(x_test)

In [64]:
acc=metrics.accuracy_score(y_test, y_predict)

In [65]:
print("Accuracy of the model: ",acc)

Accuracy of the model:  0.7669902912621359